

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<link href="~/Content/index/index.css" rel="stylesheet" />


<section class="captcha-field">
    <input type="text" class="captcha-input" placeholder="Введите содержимое изображения" />
    <button class="captcha-submit-button" value="Go again!">Go again!</button>
</section>

<script src="~/Scripts/index/index.js"></script>